body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

.container {
  display: grid;
}

.part01 {
  border: 1px solid black;
}

.part02 {
  border: 1px solid black;
}

.part02 p {
  border: 1px solid black;
}

.part03 {
}
