html {
    font-family: "Inter", sans-serif;
    margin: auto;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 0px 40px;
    margin: auto;
    list-style: none;
}

h1 {
    margin: 50px 50px 30px;
    font-size: 40px;
    font-weight: 600;
}

h2 {
    margin-top: 0;
    margin-bottom: 30px;
    padding: 5px 0 5px;
    font-weight: 600;
    font-size: 20px;
}

.card {
    border-radius: 10px;
    background: white;
    box-shadow: 1px 1px 1px rgb(209, 209, 209);
    padding: 20px;
    width: 150px;
    height: 150px;
    margin: 15px;
    font-weight: bold;
    font-size: 15px;
    text-align: left;
    font-weight: 400;
    color: black;
}

#c01 {
    border: 1px black solid;
}

#c02 {
    background: black;
    border: 2px black solid;
    color: white;
}

#c03 {
    border: 1px black solid;
}

#c03 h2 {
    background-color: rgb(233, 179, 187);
    padding-left: 7px;
}

#c04 {
    border: 2px blue solid;
}

#c04 h2 {
    color: rgb(221, 17, 126);
}